* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.window {
  width: 168px;
  height: 300px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
.images {
  display: flex;
  height: 100%;
  transition: all 1s;
}
